@use "../abstracts" as *;

#__next {
  display: grid;
  grid-template-columns: 20px repeat(3, 1fr) 20px;
  grid-template-rows: 100px repeat(3, 1fr) 600px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @include bp("tablette") {
    grid-template-columns: 130px repeat(3, 1fr) 130px;
  }
}

nav {
  grid-area: 1 / 1 / 1 / 6;
}

main {
  min-height: 100vh;
  grid-area: 2 / 1 / 5 / 6;
}

footer {
  grid-area: 5 / 1 / 6 / 6;
}

.searchBack {
  position: relative;
  top: 50px;
  width: 350px;
  height: 300px;
  background: #ecebf0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;

  padding: 0 5px 5px 5px;

  @include bp("tablette") {
    padding: 0 30px 0 30px;
  }
  .search {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url("/images/Slider1.png");
    width: 100%;
    min-height: 100px;
    border-radius: 0px 0px 10px 10px;
    padding: 30px 0 30px 0;

    form {
      gap: 30px;
    }
  }
}

form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  *:focus {
    outline: none;
  }
  label {
  }

  .searchBar {
    background: url("/images/form/search.png");
  }

  .localisationBar {
    background: url("/images/form/localisation.png");
  }

  input::placeholder {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.0rem;
    text-transform: uppercase;

    color: #6a6968;
  }

  input {
    width: 300px;
    height: 45px;
    padding-left: 15px;

    border: none;
    background: #FFFFFF;
    border-bottom: 1px solid #101010;
    border-radius: 0px 0px 10px 10px;
    caret-color: $color-main;


    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.4rem;

    color: #101010;
  }

  button {
    width: 165px;
    height: 45px;
    background: #ffffff;
    background: url("/images/form/submit.png");
    border-bottom: 1px solid #101010;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;
  }
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 300px;
  height: 50vh;

  *:focus {
    outline: none;
  }

  label {
    align-self: flex-start;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;

    color: #ffffff;
  }

  input {
    width: 300px;
    height: 30px;
    padding: 12px 20px;
    border-radius: 10px;
    background: #343333;
    border: none;
    caret-color: #ffffff;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5rem;
  }

  input: {
    color: #ffffff;
  }

  input:focus {
    border: 0.5px solid #db8656;
  }

  button {
    margin-top: 35px;
    width: 100px;
    height: 30px;
    background: #343333;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button:active {
    border: 0.5px solid #db8656;
  }
}
