@use "../../abstracts" as *;

#acount {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("/images/article/article1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;

  @include bp("tablette") {
    flex-direction: row;
    justify-content: center;
  }
  @include bp("laptop") {
    padding-left: 130px;
    padding-right: 130px;
  }

  #NavDashBord {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: calc(100vw - 40px);
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow-x: hidden;
    scroll-behavior: scroll;

    @include bp("tablette") {
      width: 150px;
      flex-direction: column;
    }
    .active {
      background: $color-Secondary;
      color: #101010;
    }
    a {
      background: $color-main;
      width: 75px;
      height: 75px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 5px;
      border-radius: 10px;

      @include bp("tablette") {
        width: 100px;
        height: 100px;
      }

      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  #comptePage {
    width: 100%;
    min-height: 600px;
    border-radius: 10px;
    background: rgba($color: $color-Primary, $alpha: 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 50px;

    #updateAcount {
      padding-top: 20px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .deleteUser {
        font-size: 1.4rem;
        margin-top: 100px;
        margin-bottom: 50px;

        @include bp("tablette") {
          align-self: flex-end;
          margin-right: 50px;
        }
      }

      #UpdateForm {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

        .wrap {
          display: flex;
          flex-direction: column;
          gap: 30px;
          width: 100%;
          align-items: center;

          @include bp("tablette") {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
          }

          .content {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }

          .checkbox {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 80%;

            .content {
              flex-direction: row;
              gap: 0;
              width: 100%;
              justify-content: space-between;

              input {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }

  #admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    #NavAdmin {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    #contentAdmin {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      height: 100%;

      .card {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: #101010 solid 1px;

        .userInfo {
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin-left: 10px;

          .section {
            border-right: #101010 solid 1px;
            min-width: 100px;
            text-overflow: ellipsis;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: start;

            p:not(.medium) {
              color: #6a6968;
            }
          }
        }
        .buttonsCard {
          .optionsModal {
            list-style: none;
            position: absolute;
            right: 5%;
            background: #fff;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
          }
        }
      }
    }
  }
}

#write {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  #NavWrite {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  #contentWrite {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;

    #WriteForm {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      .wrap{
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;

        .group{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-around;
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-left: 20px;
          padding-right: 20px;

          textarea {
            border: none;
            padding: 10px;
            width: 100%;
            font-size: 1.8rem;
            font-weight: 700;
          }

          .contentText{
            height: 300px;
          }


        }
      }

    }

    .card {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: #101010 solid 1px;

      .userInfo {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-left: 10px;

        .section {
          border-right: #101010 solid 1px;
          min-width: 100px;
          text-overflow: ellipsis;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: start;

          p:not(.medium) {
            color: #6a6968;
          }
        }
      }
      .buttonsCard {
        .optionsModal {
          list-style: none;
          position: absolute;
          right: 5%;
          background: #fff;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 10px;
        }
      }
    }
  
  }
}

#acountLink {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;

  @include bp("tablette") {
    flex-direction: row;
  }

  h1 {
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
  }

  .containButton {
    width: 325px;
    height: 150px;
    background-color: rgba($color: $color-Primary, $alpha: 0.95);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      width: 300px;
    }

    @include bp("tablette") {
      width: 350px;
      height: 150px;
    }

    @include bp("computer") {
      width: 400px;
      height: 200px;
    }
  }

  #goToCompte {
    padding: 20px;
    height: 50%;
    width: 100%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url("/images/Slider1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @include bp("tablette") {
      height: 100%;
      width: 50%;
    }
  }

  #goToIntra {
    padding: 20px;
    height: 50%;
    width: 100%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url("/images/backAuth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @include bp("tablette") {
      height: 100%;
      width: 50%;
    }
  }
}
