@use "../abstracts" as *;
form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  *:focus {
    outline: none;
  }
  label {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #101010;
  }

  input::placeholder {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.8rem;
    font-style: italic;

    color: #6a6968;
  }

  input {
    width: 300px;
    height: 45px;
    padding-left: 15px;

    border: none;
    background: #ffffff;
    border-bottom: 4px solid #c9c0b6;
    caret-color: $color-main;

    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.8rem;

    color: #101010;
  }

  button {
    width: 125px;
    height: 45px;
    border-width: 4px 4px 4px 0px;
    border-style: solid;
    border-color: #c9c0b6;
    border-radius: 0px 5px 5px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
/*  */
    font-family: $h3-font-family;
    font-weight: $h3-font-weight;
    font-size: $h3-font-size;
    color: $h3-color;
  }
}
